In [1]:
!pip install anonymizedf

Collecting anonymizedf
  Using cached anonymizedf-1.0.1-py3-none-any.whl (7.0 kB)
Requirement already satisfied: pandas in /Users/binu.b.varghese/.pyenv/versions/jupyter_env/lib/python3.11/site-packages (from anonymizedf) (2.0.3)
Collecting faker (from anonymizedf)
  Obtaining dependency information for faker from https://files.pythonhosted.org/packages/6c/1d/8030a4cccfe57b66125cf555ba71a2e5f7c96196cfe7d442b72e42da1230/Faker-19.2.0-py3-none-any.whl.metadata
  Downloading Faker-19.2.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /Users/binu.b.varghese/.pyenv/versions/jupyter_env/lib/python3.11/site-packages (from faker->anonymizedf) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/binu.b.varghese/.pyenv/versions/jupyter_env/lib/python3.11/site-packages (from pandas->anonymizedf) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/binu.b.varghese/.pyenv/versions/jupyter_env/lib/python3.11/site-packages (from pandas->anonymizedf) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/binu.b.varghese/.pyenv/versions/jupyter_env/lib/python3.11/site-packages (from pandas->anonymizedf) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/binu.b.varghese/.pyenv/versions/jupyter_env/lib/python3.11/site-packages (from python-dateutil>=2.4->faker->anonymizedf) (1.16.0)
Using cached Faker-19.2.0-py3-none-any.whl (1.7 MB)
Installing collected packages: faker, anonymizedf
Successfully installed anonymizedf-1.0.1 faker-19.2.0

In [3]:
import pandas as pd
from anonymizedf.anonymizedf import anonymize

In [6]:
#Import the data
df = pd.read_csv("https://query.data.world/s/shcktxndtu3ojonm46tb5udlz7sp3e")
df

,Customer ID,Customer Name,Loyalty Reward Points,Segment,Date,Fraction
0,AA-10315,Alex Avila,76,Consumer,01/01/2000,7.6
1,AA-10375,Allen Armold,369,Consumer,02/01/2000,36.9
2,AA-10480,Andrew Allen,162,Consumer,03/01/2000,16.2
3,AA-10645,Anna Andreadi,803,Consumer,04/01/2000,80.3
4,AB-10015,Aaron Bergman,935,Consumer,05/01/2000,93.5
...,...,...,...,...,...,...
788,XP-21865,Xylona Preis,454,Consumer,27/02/2002,45.4
789,YC-21895,Yoseph Carroll,935,Corporate,28/02/2002,93.5
790,YS-21880,Yana Sorensen,829,Corporate,01/03/2002,82.9
791,ZC-21910,Zuschuss Carroll,745,Consumer,02/03/2002,74.5
792,ZD-21925,Zuschuss Donatelli,85,Consumer,03/03/2002,8.5

In [8]:
# Prepare the data to be anonymized
an = anonymize(df)
# Example 1 - just updates df
an.fake_names("Customer Name")
an.fake_ids("Customer ID")
an.fake_whole_numbers("Loyalty Reward Points")
an.fake_categories("Segment")
an.fake_dates("Date")
an.fake_decimal_numbers("Fraction")

In [10]:
# Example 2 - method chaining
fake_df = (
    an
    .fake_names("Customer Name", chaining=True)
    .fake_ids("Customer ID", chaining=True)
    .fake_whole_numbers("Loyalty Reward Points", chaining=True)
    .fake_categories("Segment", chaining=True)
    .fake_dates("Date", chaining=True)
    .fake_decimal_numbers("Fraction", chaining=True)
    .show_data_frame()
)
fake_df

,Customer ID,Customer Name,Loyalty Reward Points,Segment,Date,Fraction,Fake_Customer Name,Fake_Customer ID,Fake_Loyalty Reward Points,Fake_Segment,Fake_Date,Fake_Fraction
0,AA-10315,Alex Avila,76,Consumer,01/01/2000,7.6,Patricia Shaw,JKDM78720264949289,408,Segment 1,2006-02-16,76.40
1,AA-10375,Allen Armold,369,Consumer,02/01/2000,36.9,Gail Watkins,QOBD40339881172708,279,Segment 1,2002-06-20,22.29
2,AA-10480,Andrew Allen,162,Consumer,03/01/2000,16.2,Amy Todd,PERI37761199266911,188,Segment 1,2012-08-07,11.79
3,AA-10645,Anna Andreadi,803,Consumer,04/01/2000,80.3,Bernard Nicholls,AEBK97988032986318,434,Segment 1,1983-03-06,94.21
4,AB-10015,Aaron Bergman,935,Consumer,05/01/2000,93.5,Mr Nathan Baker,HQHQ59900751435539,440,Segment 1,2018-02-07,57.55
...,...,...,...,...,...,...,...,...,...,...,...,...
788,XP-21865,Xylona Preis,454,Consumer,27/02/2002,45.4,Mrs Amanda Cox,MNCO10005913748990,712,Segment 1,1999-07-11,19.13
789,YC-21895,Yoseph Carroll,935,Corporate,28/02/2002,93.5,Simon Field-Davies,OYYX39128624432914,440,Segment 3,1973-11-02,57.55
790,YS-21880,Yana Sorensen,829,Corporate,01/03/2002,82.9,John Hall,VSUX28419258307193,519,Segment 3,1985-11-19,35.96
791,ZC-21910,Zuschuss Carroll,745,Consumer,02/03/2002,74.5,Donna Hooper,LFUH64403592358370,114,Segment 1,1975-02-17,0.44
792,ZD-21925,Zuschuss Donatelli,85,Consumer,03/03/2002,8.5,Thomas Lyons,VWQC73403721197705,101,Segment 1,2007-04-12,36.69

In [11]:
# Example 3 - multiple assignments
fake_df = an.fake_names("Customer Name")
fake_df = an.fake_ids("Customer ID")
fake_df = an.fake_whole_numbers("Loyalty Reward Points")
fake_df = an.fake_categories("Segment")
fake_df = an.fake_dates("Date")
fake_df = an.fake_decimal_numbers("Fraction")
fake_df

,Customer ID,Customer Name,Loyalty Reward Points,Segment,Date,Fraction,Fake_Customer Name,Fake_Customer ID,Fake_Loyalty Reward Points,Fake_Segment,Fake_Date,Fake_Fraction
0,AA-10315,Alex Avila,76,Consumer,01/01/2000,7.6,Guy Gough-Thompson,FZSM51319054147738,530,Segment 1,1973-04-03,42.17
1,AA-10375,Allen Armold,369,Consumer,02/01/2000,36.9,Mr Maurice Cartwright,JWUP53033388582150,65,Segment 1,1986-09-25,47.04
2,AA-10480,Andrew Allen,162,Consumer,03/01/2000,16.2,Mr Conor Hewitt,YNDB23126469859493,311,Segment 1,1970-01-27,5.50
3,AA-10645,Anna Andreadi,803,Consumer,04/01/2000,80.3,Dennis Thomas,DKDO03744648440705,16,Segment 1,2002-10-18,14.62
4,AB-10015,Aaron Bergman,935,Consumer,05/01/2000,93.5,Kyle Osborne,VPOX71268774935380,76,Segment 1,1986-06-17,4.89
...,...,...,...,...,...,...,...,...,...,...,...,...
788,XP-21865,Xylona Preis,454,Consumer,27/02/2002,45.4,Suzanne Collins-Begum,BNUF32864560731829,791,Segment 1,1975-03-29,5.65
789,YC-21895,Yoseph Carroll,935,Corporate,28/02/2002,93.5,Mr Simon Norris,OHFI56248924475869,76,Segment 3,2017-03-25,4.89
790,YS-21880,Yana Sorensen,829,Corporate,01/03/2002,82.9,Damian Thompson,CHFC73895218613149,6,Segment 3,2003-03-14,78.61
791,ZC-21910,Zuschuss Carroll,745,Consumer,02/03/2002,74.5,Carl Cooper,NPJB64248141367448,848,Segment 1,1973-11-07,28.41
792,ZD-21925,Zuschuss Donatelli,85,Consumer,03/03/2002,8.5,Sally Foster,NJKO69516629529476,300,Segment 1,2022-05-02,45.05